@{
    ViewBag.Title = "Kết quả đăng ký";
}

<h2>Kết quả đăng ký</h2>

<p>
    Cảm ơn bạn @TempData["MSSV"] - @TempData["HoTen"] đã đăng ký chuyên ngành @TempData["ChuyenNganh"].
</p>

<p>
    Số lượng sinh viên đã đăng ký ngành giống bạn là: @TempData["SoLuong"] sinh viên.
</p>
